<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(sc,index) in school ">{{sc}}--{{index+1}}</li>
        </ul>
        <ul>
            <li v-for="(item,key,index) in obj">
                <h3>
                    {{item}}--{{key}}--{{index}}
                </h3>
            </li>
        </ul>
        <ul>
            <li v-for="obj in arrSort">
                <!-- {{obj.name}}--{{obj.age}} -->
                <span v-for="(val,key) in obj">{{val}}--{{key}}</span>
            </li>
        </ul>
    </div>
    <script src=vue.js></script>
    <script>
        let vm = new Vue({
            el:"#app",
            data:{
                school:["金融","黑大"],
                obj:{
                    name:"zhansgan",
                    age:18
                },
                arr:[{
                        name:"zhansgan",
                        age:18},{
                        name:"lisi",
                        age:17
                }]
            },
            computed:{
                //实时计算
                arrSort(){//相当于声明了一个变量
                    return this.arr.sort(function(a,b){
                        return a.age-b.age;
                    });
                }
            }
        })
    </script>
</body>
</html>