<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- 双向数据绑定 -->
    <div id="app">
        <form action="">
                用户名：<input type="text" v-model="username">
                <h4>用户名是：{{username}}</h4>

                性别：
                <input type="radio" name="sex" v-model="sex" value="男">男
                <input type="radio" name="sex" v-model="sex" value="女">女
                <h4>性别是：{{sex}}</h4>
                <!-- value值是传给后台的 -->
        </form>
    </div>


    <script src="vue.js"></script>
    <script>
        new Vue({
            el:"#app",
            data:{
                username:"",
                sex:""
            }
        })
    </script>
</body>
</html>